<mapper namespace="com.oddness.dao.IUserDao">

    <select id="findAll" resultType="com.oddness.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.oddness.pojo.User"
            parameterType="com.oddness.pojo.User">
        select * from user where id = #{id} and username = #{username}
    </select>

    <insert id="insertUser" parameterType="com.oddness.pojo.User">
        insert into user
        values (#{id}, #{username}, #{password}, #{birthday})
    </insert>

    <update id="updateUser" parameterType="com.oddness.pojo.User">
        update user
        set username = #{username}
        where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete
        from user
        where id = #{id} and username = #{username}
    </delete>

</mapper>
