<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oddness.mapper.UserMapper">
    <insert id="insert" parameterType="com.oddness.pojo.User">
        insert into ....
    </insert>

    <!--查询所有用户信息-->
    <select id="findAll" resultType="com.oddness.pojo.User">
        select * from user
    </select>


</mapper>
